QWidget {

    background: rgb(36, 32, 56);
    color: rgb(197, 196, 206);

}

QMenu::item, QMenuBar::item {
    background: transparent;
}

QMenu::item:selected, QMenuBar::item:selected {
    background: rgb(108, 91, 193);
    color: rgb(250, 250, 250);
}

QMenuBar::item:pressed {
    background: rgb(108, 91, 193);
}
